<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDa7lHHFGb5rQSzeF3pKEZv-dZWQe1GPME</string>
	<key>GCM_SENDER_ID</key>
	<string>810761842263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-f8843</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-f8843.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810761842263:ios:2a0d0688bf6c8643043d12</string>
</dict>
</plist>